main {
    .form-contact {
        padding: 50px 0;
        text-align: left;
        .office {
            padding: 15px;
            .name-office {
                color: #333;
                font-weight: 700;
                font-size: 25px;
                margin: 0 0 30px;
            }
            .name-contact {
                span {
                    font-weight: 700;
                    color: #b8292f;
                }
            }
            .hotline {
                display: block;
                font-weight: 700;
                color: #b8292f;
            }
        }
    }
}